*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(70, 109, 216);
    padding: 20px;
}
.flex{
    display: flex;
}
.nav{
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
.logo{
    justify-content: center;
    align-items: center;
}
.nav ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items:center;
    padding-left: 15px;
    color: rgb(255, 255, 255);
}
.doppio-contenitore{
    width: 60%;
    height: 200px;
    border: 1px solid black;
}
.direction-inverse{
    flex-direction: row-reverse;
}
.login{
    color: white;
    background-color: white;
}
.login a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    
}
.btn-style{
    display:inline-block ;
    border-radius: 20px;
    height: 30px;
    width:200px;
    text-align: center;
    line-height: 30px;
}
.cont-blue{
    width: 60%;
}
.cont-pink{
    width: 40%;
}
.pdg{
    padding: 10px;
}
.logo{
    width: 25%;
}
.link{
    width: 50%;
}
.login{
    width: 25%;
}
.bg-orange{
    background-color: orange;
}
.mg-auto{
    margin: 0 auto;
}

.cont-purple{
    width: 40%;
    height: 150px;
    border: 1px solid black;
}
.cont-green{
    width: 70%;
    height: 400px;
    border: 1px solid black;
}
.b-s{
    border: 1px solid white;
}
.column-cont{
    width: 70%;
    height: 200px;
}
.cont-salmon{
    flex-grow: 2;
}
.cont-aqua{
    flex-grow: 1;
}
.footer-cont{
    width: 50%;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.login{
    width: 50px;
}
.bg-purple{
    background-color: purple;
}
.bg-blue{
    background-color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green;
}
.bg-salmon{
    background-color: darksalmon;
}
.bg-aqua{
    background-color: aqua;
}
.bg-marine{
    background-color: aquamarine;
}
.bg-grey{
    background-color: grey;
}
.bg-darkblue{
    background-color: darkblue;
}
